#search-button {
    background-color: rgb(217, 186, 247);
    margin-left: 10pt;
    margin-top: 10pt;
    padding-left: 20pt;
    padding-right: 20pt;
}

.card-body {
    background-color: rgb(217, 186, 247);
    color:black;
    border-style: solid;
    border-color: black;
    border-width: 3pt;
}